.table {
    width: 100vw;
  position: relative;
  top: 0px;
}

.td {
    text-align: center;
}

.closeAll {
position: relative;
left: 83%;
color: #f24e53;
background-color: transparent;
border: 1px solid #f24e5366;
width: 15vw;
border-radius: 4px;
padding: 6px;
}

.closeAll:active {
    background-color: #f24e5366;
}
.closeAllDiv {
    width: 100vw;
}