.table {
    width: 100vw;
  position: relative;
  top: 0px;
}

.td {
    text-align: center;
}

.closeAll {
position: relative;
left: 83%;
color: #f24e53;
background-color: transparent;
border: 1px solid #f24e5366;
width: 15vw;
border-radius: 4px;
padding: 6px;
}

.closeAll:active {
    background-color: #f24e5366;
}
.closeAllDiv {
    width: 100vw;
}

.symbol {
    /* background-color: green; */
    padding: 10px;
}

.type {
    left: 5px;
    position: relative;
    background-color: #00bd84;
    padding: 0px 7px;
}