.table {
    width: 100vw;
  position: relative;
  top: 0px;
}

.td {
    text-align: center;
}

.closeAll {
position: relative;
left: 83%;
color: white;
background-color: grey;
border: 0px;
width: 15vw;
border-radius: 4px;
padding: 6px;
}

.closeAllDiv {
    width: 100vw;
}